.main-bg {
    background-color: rgba(36, 39, 60, 0.7);
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.main-box {
    justify-content: center;
    align-items: flex-end;
    height: 95vh;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gameBox {
    height: 90vh;
    width: 80vw;
    justify-content: center;
}

.rightMenuBox {
    background-color: rgba(36, 39, 60, 0.7);
    /*background-color: #171009;*/
    height: 90vh;
    width: 20vw;
}

.imageBox {
    height: 25vh;
    width: 60vw;
}

.editorsBox {
    height: 60vh;
    border: 1px solid yellowgreen;
}

.cssEditorBox {
    background-color: yellow;
    width: 30vw;
}

.cssEditorCaptions {
    height: 4vh;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 38);
    color: wheat;
}

.cssEditorContent {
    height: 56vh;
    background-color: rgb( 220, 220, 220);
}

.htmlEditorBox {
    background-color: yellowgreen;
    width: 30vw;
}

.editor-line_numeric {
    width: 4vw;
    background-color: rgb( 190, 190, 190);
    text-align: center;
}

.editor-title {
    height: 15px;
    margin: 0 10px;
}

.numeric {
    height: 15px;
    width: inherit;
}

.editor-text {
    width: 21vw;
}

.editor-text-html {
    width: 26vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.editor-enter {
    width: 5vw;
    height: 100px;
    justify-content: center;
    padding-top: 5px;
}

.basic_button {
    width: 52px;
    height: 25px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    background: rgba(0, 0, 0, 0);
    color: black;
    border: 2px solid black;
}

.css_editor-input_field {
    max-width: 20vw;
    min-width: 1ch;
    background: none;
    border: none;
    outline: none;
}

.showSpaces {
    white-space: pre;
}

.block {
    display: block;
    margin: 0;
}

.right_menu-title {
    height: 5vh;
    width: inherit;
    color: wheat;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.right_menu-content {
    height: 85vh;
    width: inherit;
    color: wheat;
    justify-content: center;
    align-items: center;
}

.right_menu-functional_buttons {
    height: 10vh;
    width: inherit;
    justify-content: inherit;
}

.right_menu-levels {
    height: 75vh;
    justify-content: inherit;
}

.button_level {
    width: 18vw;
    height: 25px;
    color: wheat;
    border: 2px solid wheat;
}

.button_level-active {
    background-color: #800000;
}

table.active {
    max-width: 300px;
    height: inherit;
    width: inherit;
    border: 1px solid orange;
    background-color: orange;
}

plate, lemon, apple {
    position: relative;
}

table {
    color: orange;
}

apple {
    color: green;
}

plate {
    color: red;
}

lemon {
    color: yellowgreen;
}

plate.active {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

lemon.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellowgreen;
    display: flex;
}

apple.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    display: flex;
}

apple.small.active {
    width: 15px;
    height: 15px;
}

.image_box-content {
    height: 20vh;
    width: inherit;
    justify-content: center;
}

.active.shouldBeSelected {
    animation-name: shouldBeSelected;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes shouldBeSelected {
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        transform: translateX(1px);
    }
    10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        transform: translateX( -1px);
    }
}

.error {
    animation-name: errorAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes errorAnimation {
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        transform: translateX(5px);
    }
    10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        transform: translateX( -5px);
    }
}

.win {
    animation-name: winAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes winAnimation {
    from {
        transform: translateY(-1px);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

/* popup */

#popup_div {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    z-index: 6;
    background-color: rgb(83, 22, 3);
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: wheat;
}

.block-info {
    display: none;
    position: relative;
}

.block-info-content {
    width: 180px;
    height: 45px;
    position: absolute;
    transform: translateX(60%);
    background-color: wheat;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-data>.block-info {
    display: block;
}

.white {
    color: white;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

lemon.active.shadow, apple.active.shadow, plate.active.shadow {
    box-shadow: inset 0 0 5px 5px wheat;
}

footer {
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    text-decoration: none;
}

.logoLink {
    height: inherit;
    width: 100px;
}

.text {
    color: wheat;
}

@media screen and (max-width: 900px) {
    .editor-enter {
        justify-content: flex-end;
        align-items: flex-end;
    }
    .editor-title {
        margin: 0 3px;
        font-size: 14px;
    }
    .right_menu-title {
        font-size: 23px;
    }
    .block {
        font-size: 12px;
    }
    plate.active {
        width: 40px;
        height: 40px;
    }
    apple.active, lemon.active {
        width: 15px;
        height: 15px;
    }
    apple.small.active {
        width: 12px;
        height: 12px;
    }
}