.main-bg{
    background-color: rgba(36, 39, 60, 0.7);
    width: 100vw;
    height: 100vh;
}

.flex{
    display: flex;
}

.main-box{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gameBox{
    background-color: red;
    height: 90vh;
    width: 80vw;

    /*text-align: center;*/
    justify-content: center;
}

.rightMenuBox{
    background-color: #171009;
    height: 90vh;
    width: 20vw;
}


.imageBox{
    background-color: purple;
    height: 25vh;
    width: 60vw;
}

.editorsBox {
    height: 60vh;
    border: 1px solid yellowgreen;
}
.cssEditorBox {
    background-color: yellow;

    width: 30vw;
}

.cssEditorCaptions {
    height: 4vh;
    width: 30vw;
    justify-content: space-between;
    align-items: center;

    background: rgb(0, 0, 38);
    color: wheat;
}

.cssEditorContent{
    height: 56vh;
}

.htmlEditorBox {
    background-color: yellowgreen;

    width: 30vw;
}

.editor-line_numeric {
    width: 4vw;
    background-color: rgb(	190, 190, 190);/* palegoldenrod;*/
    text-align: center;
}

.editor-title{
    height: 15px;
    margin: 0 10px;
}

.numeric {
    height: 15px;
    width: inherit;
}

.editor-text{
    width: 21vw;
    background-color: rgb(	220, 220, 220);/*gainsboro;*/
}

.editor-text-html {
    width: 26vw;
    background-color: rgb(	220, 220, 220);

    overflow-x: hidden;
    overflow-y: scroll;
}

.editor-enter{
    width: 5vw;
    background-color: rgb(	220, 220, 220);
    justify-content: center;
    
    padding-top: 5px;
}

.basic_button{
    width: 52px;
    height: 25px;

    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    background: rgba(0, 0, 0, 0);
    color: black;
    border: 2px solid black;
}

.css_editor-input_field{
    max-width: 20vw;
    min-width: 1ch;
    background: none;
    border: none;
    outline: none;
  }

  .showSpaces{
    white-space: pre;
  }

.block {
    display: block;
    margin: 0;
}


.right_menu-title {
    height: 5vh;
    width: inherit;
    color: wheat;

    font-size: 40px;
    justify-content: center;
    align-items: center;
}
.right_menu-content {
    height: 85vh;
    width: inherit;
    color: wheat;

    justify-content: center;
    align-items: center;
}

.button_level{
    width: 18vw;
    height: 25px;
    color: wheat;
    border: 2px solid wheat;
}

table.active {
    max-width: 300px;
    /*max-height: 300px;
    height: 20vh;*/
    height: inherit;
    width: inherit;
    border: 1px solid orange;
    background-color: orange;
}

plate.active {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

lemon.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellowgreen;
}

.image_box-content {
    height: 20vh;
    width: inherit;
}